@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic);

body {
   width: 100%;
   height: 100%;
   font-family: 'Playfair Display', sans-serif;
   font-weight: 300;
   color: #666;
   background-color: #fff;
   font-size: 16px;
   line-height: 1.3em;
   font-weight: 400;
   padding-top: 65px;
}

h1,h2,h3,h4,h5,h6 {
   font-family: 'Montserrat', sans-serif;
}

#home {
   color: #fff;
   text-align: center;
   background-color: #569ED6;
   background-image: url(../images/bg.png);
   background-size:100% auto;
   height: 375px;
}

#home-container {
   background-color: rgba(0, 0, 0, 0.6);
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

#home-text {
   position: relative;
   top: 50%;
	transform: translateY(-50%);
   height: 200px;

}

#home-text h2{
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align:center;
  color:#fff;
  text-transform:uppercase;
}

#home-text p{
   font-size: 20px;
   line-height: 1.3em;
}

.btn-primary {
  padding: 8px 20px;
  background: #fff;
  color: #569ED6;
  border-radius: 0;
  border:none;
  margin-top: 10px;
}

.btn-primary:hover,
.btn-primary:focus{
  background: #fff;
  color:#569ED6;
  outline: none;
  box-shadow: none;
}


/* --- logo --- */
.site-logo {
	margin-top:20px;
	margin-bottom:20px;
}

.site-logo a.brand {
	color: #fff;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;

}
.site-logo a.brand:hover {
	text-decoration:none;
}

/* ------- Navigation ------------ */

.navbar-default{
   background-color: #000;
   border-color: #000;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
	padding: 7px;
}

.navbar-fixed-top ul.nav li a {
	font-size: 14px;
	letter-spacing: 3px;
   color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-fixed-top.top-nav-collapse ul.nav li a {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #000;
}

.navbar-fixed-top ul.nav ul.dropdown-menu {
	  border-radius: 0;
	margin-top: 21px;
	border-top: none;
}

.navbar-fixed-top ul.nav li a:hover ul.dropdown-menu {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.navbar-fixed-top ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navbar-fixed-top ul.nav ul.dropdown-menu li a {
	padding: 10px 20px;
}

.navbar-fixed-top.top-nav-collapse ul.nav ul.dropdown-menu li a {
	color: #666;
}

.navbar-fixed-top .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-fixed-top .nav li a:hover,
.navbar-fixed-top .nav li a:focus,
.navbar-fixed-top.nav li.active {
    outline: 0;

	color:#569ED6 ;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 18px;
    color: #aaa;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.slider {
	padding-top:50px;
}

.center {
   text-align:center;
}
.center h2{
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  color:#000;
  text-transform:uppercase;
}

#about  {
	margin-top:80px;
	margin-bottom:40px;
}

#about .lead {
	text-align:center;
	font-size:18px;
	margin-bottom:50px;
}

#about  img {
	margin-bottom:10px;
   box-shadow: 5px 5px 5px #AAAAAA;
}


#archive {
	margin-top:50px;
	padding:50px;
	text-align:center;
}

#archive .lead {
	text-align:center;
	font-size:18px;
	margin-bottom:50px;
}

#archive img {
   height: 180px;
	margin-top:10px;
	margin-bottom:10px;
}

#archive h3{
   font-size: 30px;
}

#archive .stat{
   font-size: 45px;
   font-weight: 900;
}

#footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background: #000;
  text-align: center;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #fff;
}
