@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/*@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic);
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
   width: 100%;
   height: 100%;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   color: #666;
   background-color: #fff;
   font-size: 16px;
   line-height: 1.6em;
   font-weight: 400;
   padding-top: 65px;
}

h1,h2,h3,h4,h5,h6 {
   font-family: 'Montserrat', sans-serif;
}

#home {
   color: #fff;
   text-align: center;
   background-color: #000;
   background-image: url(../images/bg.png);
   background-size:100% auto;
   height: 500px;
}

#home-container {
   background-color: rgba(0, 0, 0, 0.7);
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

#home-text {
   position: relative;
   top: 50%;
	 transform: translateY(-50%);
   height: 200px;

}

#home-text h2{
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align:center;
  text-transform:uppercase;
  text-shadow: 0px 0px 30px rgba(30, 28, 28, 0.6)
}

#home-text p{
   font-size: 20px;
   line-height: 1.3em;
}

.btn-primary {
  padding: 8px 20px;
  background: #fff;
  color: #569ED6;
  border-radius: 0;
  border:none;
  margin-top: 10px;
}

.btn-primary:hover,
.btn-primary:focus{
  background: #fff;
  color:#569ED6;
  outline: none;
  box-shadow: none;
}


/* --- logo --- */
.site-logo {
	margin-top:20px;
	margin-bottom:20px;
}

.site-logo a.brand {
	color: #fff;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;

}
.site-logo a.brand:hover {
	text-decoration:none;
}

/* ------- Navigation ------------ */

.navbar-default{
   background-color: #000;
   border-color: #000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #FFF;
  background-color: #000;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
	padding: 7px;
}

.navbar-fixed-top ul.nav li a, .navbar-default ul.nav li a {
  color: #FFF;
  font-size: 14px;
}

.navbar-fixed-top.top-nav-collapse ul.nav li a {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #000;
}

.navbar-fixed-top ul.nav ul.dropdown-menu {
	border-radius: 0;
	margin-top: 21px;
	border-top: none;
}

.navbar-fixed-top ul.nav li a:hover ul.dropdown-menu {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.navbar-fixed-top ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navbar-fixed-top ul.nav ul.dropdown-menu li a {
	padding: 10px 20px;
}

.navbar-fixed-top.top-nav-collapse ul.nav ul.dropdown-menu li a {
	color: #666;
}

.navbar-fixed-top .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-fixed-top .nav li a:hover,
.navbar-fixed-top .nav li a:focus,
.navbar-fixed-top.nav li.active {
   outline: 0;
	 color: #FFF ;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 18px;
    color: #aaa;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.slider {
	padding-top:50px;
}

.center {
   text-align:center;
}
.center h2{
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
/*  text-transform:uppercase;
*/}

#about  {
  background-color: #FFF;
}

#about .lead {
	text-align:center;
	font-size:21px;
	margin-bottom:50px;
}

#about p {
  text-align: left;
}

#about  img {
	margin-bottom:10px;
   box-shadow: 5px 5px 5px #AAAAAA;
}


#archive {
  background-color: #73a9b1;
  color: white;
}

#archive .lead {
	text-align:center;
	font-size:21px;
	margin-bottom:50px;
}

#archive img {
   height: 150px;
	margin-top:10px;
	margin-bottom:10px;
}

#archive h3{
   font-size: 30px;
}

#archive .stat{
   font-size: 45px;
   font-weight: 900;
}

#container2{
  height:500px;
  width:100%;
}

#container3{
  height:450px;
  width:100%;
}

#footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background: #000;
  text-align: center;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #fff;
}


.credit {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.subheader {
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
}

#about, #archive, #clustering, #dishexplorer, #cooccurrence, #top-dishes, #modern-menu, #credits-thankyou {
  padding:100px 0px;
  text-align:center;
}

#clustering {
  background-color: #78b7b8;
  color: white;
}

#dishexplorer {
  background-color: #6F8DA0;
  color: white;
}

  #divexplorer {
    margin-left: 100px;
  }

#cooccurrence {
  background-color: #5F7193;
  color: white;
}

#top-dishes {
  background-color: #555484;
  color: white;
}

#modern-menu {
  background-color: #352753;
  color: white;
}

#credits-thankyou {
  background-color: #1f1730;
  color: white;
}


/* extra pages */
#cooc_graph {
  margin-top: 0;
}
